@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.footer-container{
    margin-top: 70px;
    background-color: black;
    padding: 50px;
}

.footer-top{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 40px;
}

.top-first h2{
    color: white;
}


.footer-bottom{
    border-top: 2px solid white;
    width: 95%;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.left-bottom{
    color: white;
}
.right-bottom{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.right-bottom i{
    color: white;
    font-size: 24px;
    border: 3px dotted white;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.4s ease;
}

.right-bottom i:hover{
    background-color: white;
    color: black;
}
.top-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 10px;
}


.top-left .agency{
    width: 300px;

}

.top-left .elementworks{
    width: 200px;
    margin-top: 60px;
}

.top-left p{
    margin-bottom: 20px;
}

.top-left button{
    padding: 15px 10px;
    width: 150px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    transition: all 0.4s ease;
}

.top-left button:hover{
    transform: scale(1.05);
}

.top-first ul li{
    list-style: none;
    margin-top: 20px;
}

.top-first ul li a{
    color: white;
    text-decoration: none;
}

.top-second h2{
    color: white;
}

.top-second ul li{
    list-style: none;
    margin-top: 20px;
}

.top-second ul li a{
    color: white;
    text-decoration: none;
}

.top-third h2{
    color: white;
}

.top-third ul li{
    list-style: none;
    margin-top: 20px;
}

.top-third ul li a{
    color: white;
    text-decoration: none;
}

@media(max-width: 850px) {
    .footer-container {
        margin-top: 20px;
    }

    .footer-container h2 {
        font-size: 18px;
    }

    .footer-container ul li a{
        color: white;
        font-size: 14px;
    }

    .footer-top {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer-bottom .left-bottom {
        font-size: 12px
    }

    .footer-bottom .right-bottom i{
        font-size: 22px;
    }
}

@media (max-width: 480px){
    .footer-container {
        margin-top: 20px;
    }

    .footer-top{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .footer-container h2{
        display: flex;
        justify-content: center;
    }

    .footer-container ul li a{
        display: flex;
        justify-content: center;
    }

    .footer-bottom{
        gap: 30px;
    }

    .footer-bottom .left-bottom {
        font-size: 8px

    }

    .footer-bottom .right-bottom i{
        font-size: 14px;
    }


}
